/* Базовый стиль для сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header-container {
    background-color: #0056b3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

.title {
    text-align: right;
}

.title h1 {
    font-size: 24px;
    margin: 0;
}

.title h2 {
    font-size: 20px;
    margin: 0;
}

.main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.article-content {
    line-height: 1.6;
    margin-bottom: 30px;
}

.article-content h3 {
    color: #0056b3;
}

.article-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.footer-container {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* изменено на relative */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info, .legal-info {
    flex: 1;
    padding: 0 20px;
}

.contact-info h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info p, .legal-info p {
    color: white;
    font-size: 14px;
    margin: 5px 0;
}

.legal-info {
    text-align: right;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
    .contact-info, .legal-info {
        padding: 10px;
        text-align: left; /* выравнивание текста на мобильных устройствах */
        width: 100%; /* ширина на мобильных устройствах */
    }
    .legal-info {
        text-align: left; /* выравнивание юридической информации на мобильных устройствах */
    }
}